<div class="header">
  <img src="https://los40mx00.epimg.net/especiales/basico40/morat/img/logo-pelicula2.png" alt="Logo">
  <h1>MORAT TU PAPÁ</h1>
</div>

<div class="menu-container">
  <div class="menu">
    <ul>
      <li><a href="/inicio">Inicio</a></li>
      <li><a href="/galeria">Galeria</a></li>
      <li><a href="/cancion">Canciones</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </div>
</div>

<div class="main">
  <div class="contenido">
    <h2>¡Bienvenidos a la página oficial de Morat!</h2>
    <p>En esta página podrás encontrar toda la información acerca de la banda, sus integrantes, sus canciones, sus conciertos y mucho más. Además, podrás reirte y estar al tanto de todas las novedades.</p>
  </div>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_gm5piKnrS4?si=nN29NNN2xvBTqVnr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>Nunca lo pensaste un 29 febrero</p>
  </div>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/s5ujpIdHpqk?si=QVfI_k6X2onJwPlN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>" 
    <p>Cancionsita triste para llorar por tu amor</p>
  </div>
  

</div>
  <div class="integrantes">
  
    <div class="integrante">
      <img src="https://images.genius.com/4d2630bf2ea005f43f6974ee780edd70.623x623x1.jpg" alt="Juan Pablo Isaza">
      <h3>Juan Pablo Isaza</h3>
      <p>Nombre completo: Juan Pablo Isaza Piñeros</p>
      <p>Fecha de nacimiento: 09 de agosto de 1994</p>
      <p>Instrumento: Guitarra y voz</p>
    </div>
    <div class="integrante">
      <img src="https://i.pinimg.com/564x/52/de/fd/52defd4fb929b8089048fb23f1342516.jpg" alt="Simón Vargas">
      <h3>Simón Vargas</h3>
      <p>Nombre completo: Simón Vargas Morales</p>
      <p>Fecha de nacimiento: 24 de octubre de 1993</p>
      <p>Instrumento: Bajo y voz</p>
    </div>
    <div class="integrante">
      <img src="https://images.genius.com/5bf23767200f976cdb98a91b13accd8b.833x833x1.jpg" alt="Juan Pablo Villamil">
      <h3>Juan Pablo Villamil</h3>
      <p>Nombre completo: Juan Pablo Villamil Cortés</p>
      <p>Fecha de nacimiento: 01 de septiembre de 1994</p>
      <p>Instrumento: Guitarra y voz</p>
    </div>
    <div class="integrante">
      <img src="https://i.pinimg.com/originals/01/eb/54/01eb54a66414ce0e799269766e97a7a3.jpg" alt="Martín Vargas">
      <h3>Martín Vargas</h3>
      <p>Nombre completo: Martín Vargas Morales</p>
      <p>Fecha de nacimiento: 25 de julio de 1996</p>
      <p>Instrumento: Batería y voz</p>
    </div>
</div>

<div class="carrera">
  <div class="carrera-content">
    <h2>Carrera de Morat</h2>
    <p>Morat es un grupo musical colombiano compuesto por talentosos jóvenes que han cautivado a audiencias en España y América Latina con su música folk pop. Desde sus humildes comienzos en el colegio, el grupo ha evolucionado enormemente, destacando por su enfoque colaborativo en la composición de canciones y su actitud trabajadora. Su salto a la fama llegó con el éxito de "Mi nuevo vicio", catapultándolos a un reconocimiento internacional, firmando con Universal y colaborando con artistas como Paulina Rubio y Juanes.</p>
    <p>Con un estilo fresco y letras trabajadas, Morat ha conquistado escenarios y galardones, siendo reconocidos por su habilidad para relatar las diversas facetas del amor en su álbum debut "Sobre el amor y sus efectos secundarios". Su segundo álbum, "Balas Perdidas", continúa consolidando su éxito, explorando nuevas historias y sonidos. Con una intensa gira de conciertos y una base de fans sólida, Morat se ha posicionado como una de las bandas más importantes del panorama musical actual.</p>
  </div>
  <div class="carrera-img">
    <img src="https://instintotv.com/wp-content/uploads/2023/11/morat.jpg" alt="Imagen de la banda Morat">
  </div>
</div>


<div class="footer">
  <div class="datos">
    <p>Dirección: A la Orilla de la Luz, Bogotá, Colombia</p>
    <p>Teléfono: 318-6265-824</p>
  </div>
  <div class="redes-sociales">
    <a href="https://www.facebook.com/moratoficial"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/480px-Facebook_Logo_%282019%29.png" alt="Facebook"></a>
    <a href="https://www.facebook.com/moratoficial"><img src="https://about.x.com/content/dam/about-twitter/x/brand-toolkit/logo-black.png.twimg.1920.png" alt="Instagram"></a>
    <a href="https://www.instagram.com/morat/"><img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-icon-png-image_6315974.png" alt="Instagram"></a>
    <a href="https://www.youtube.com/channel/UCvQwfdlOR55OO82gFWJCnWQ"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png" alt="Twitter"></a>
    <a href="https://open.spotify.com/intl-es/artist/5C4PDR4LnhZTbVnKWXuDKD"><img src="https://static.vecteezy.com/system/resources/previews/016/716/458/non_2x/spotify-icon-free-png.png" alt="Youtube"></a>
  </div>
</div>



