<div class="header">
  <img src="https://los40mx00.epimg.net/especiales/basico40/morat/img/logo-pelicula2.png" alt="Logo">
  <h1>MORAT TU PAPÁ</h1>
</div>

<div class="menu-container">
  <div class="menu">
    <ul>
      <li><a href="/inicio">Inicio</a></li>
      <li><a href="/galeria">Galeria</a></li>
      <li><a href="/cancion">Canciones</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </div>
</div>
<h2 style="text-align: center; font-family: Arial; font-size: 36px;">  SEGUNDO EXTENDED PLAY </h2>

<div class="container">
  <div class="card">
    <img src="https://i.pinimg.com/564x/05/2b/3e/052b3e8540d12d824de39f51ce02a58f.jpg" alt="Imagen">
    <div class="card-body">
      <p>Karen triste porque no pudo ir al concierto de Morat por segunda vez :((</p>
    </div>
  </div>

  <div class="playlist-container">
    <div class="playlist-header">
      <h1 class="playlist-title">Antes de que amanezca</h1>
    </div>
    <ul class="playlist">
            <li class="playlist-item">
                <img src="https://th.bing.com/th/id/R.3b647d949c1e0ad91c64191b9b48d46f?rik=6Mlj%2b%2bzrRhT1Ew&pid=ImgRaw&r=0" alt="Imagen de la canción" class="song-image">
                <div>
                    <p class="song-title">Feo</p>
                    <p class="song-artist">Morat</p>
                </div>
                <span class="song-duration">2:57</span>
            </li>
            <li class="playlist-item">
                <img src="https://th.bing.com/th/id/R.3b647d949c1e0ad91c64191b9b48d46f?rik=6Mlj%2b%2bzrRhT1Ew&pid=ImgRaw&r=0" alt="Imagen de la canción" class="song-image">
                <div>
                    <p class="song-title">Nunca Volvieron</p>
                    <p class="song-artist">Morat</p>
                </div>
                <span class="song-duration">3:21</span>
            </li>
            <li class="playlist-item">
                <img src="https://th.bing.com/th/id/R.3b647d949c1e0ad91c64191b9b48d46f?rik=6Mlj%2b%2bzrRhT1Ew&pid=ImgRaw&r=0" alt="Imagen de la canción" class="song-image">
                <div>
                    <p class="song-title">Someone I Used to Know</p>
                    <p class="song-artist">Morat</p>
                </div>
                <span class="song-duration">2:55</span>
            </li>
            <li class="playlist-item">
                <img src="https://th.bing.com/th/id/R.3b647d949c1e0ad91c64191b9b48d46f?rik=6Mlj%2b%2bzrRhT1Ew&pid=ImgRaw&r=0" alt="Imagen de la canción" class="song-image">
                <div>
                    <p class="song-title">Demasiado Lejos</p>
                    <p class="song-artist">Morat</p>
                </div>
                <span class="song-duration">2:59</span>
            </li>
            <li class="playlist-item">
                <img src="https://th.bing.com/th/id/R.3b647d949c1e0ad91c64191b9b48d46f?rik=6Mlj%2b%2bzrRhT1Ew&pid=ImgRaw&r=0" alt="Imagen de la canción" class="song-image">
                <div>
                    <p class="song-title">Sobreviviste</p>
                    <p class="song-artist">Morat</p>
                </div>
                <span class="song-duration">3:06</span>
            </li>
            <li class="playlist-item">
                <img src="https://th.bing.com/th/id/R.3b647d949c1e0ad91c64191b9b48d46f?rik=6Mlj%2b%2bzrRhT1Ew&pid=ImgRaw&r=0" alt="Imagen de la canción" class="song-image">
                <div>
                    <p class="song-title">Tarde</p>
                    <p class="song-artist">Morat</p>
                </div>
                <span class="song-duration">2:42</span>
            </li>
        </ul>
  </div>
</div>

<div class="spacer"></div>


<div class="footer">
  <div class="datos">
    <p>Dirección: A la Orilla de la Luz, Bogotá, Colombia</p>
    <p>Teléfono: 318-6265-824</p>
  </div>
  <div class="redes-sociales">
     <a href="https://www.facebook.com/moratoficial"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/480px-Facebook_Logo_%282019%29.png" alt="Facebook"></a>
    <a href="https://www.facebook.com/moratoficial"><img src="https://about.x.com/content/dam/about-twitter/x/brand-toolkit/logo-black.png.twimg.1920.png" alt="Instagram"></a>
    <a href="https://www.instagram.com/morat/"><img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-icon-png-image_6315974.png" alt="Instagram"></a>
    <a href="https://www.youtube.com/channel/UCvQwfdlOR55OO82gFWJCnWQ"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png" alt="Twitter"></a>
    <a href="https://open.spotify.com/intl-es/artist/5C4PDR4LnhZTbVnKWXuDKD"><img src="https://static.vecteezy.com/system/resources/previews/016/716/458/non_2x/spotify-icon-free-png.png" alt="Youtube"></a>
  </div>
</div>


